.paper {
    background: white;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm #7b7d7d;
    width: 21cm;
    height: 29.7cm;
}
.headerR {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    align-items: center;
}
.contentHeader{
    width: 80%;
}
.h1Name {
    text-transform: uppercase;
}
.contentHeader p{
    margin: 0;
}
.hrrr{
    margin-top: 25px;
    margin-bottom: 25px;
}
.rightExperence {
    display: flex;
    flex-direction: column;
    margin-left: 94px;
}
.rightExperence h3 {
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 15px;
}
.rightExperence p{
    margin: 0;
}
.rightExperence strong {
    font-weight: bold;
}
